@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.9; }
    100% { opacity: 1; }
}

@keyframes popUp {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.buy-button {
    position: absolute;
    font-size: 16px;
    z-index: 2; /* Ensure the button is above the video */
    padding: 9px 18px;
    background-color: #ff6600;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #C3D0BC;
    cursor: pointer;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 10%;
    animation: blink 0.9s infinite; /* Add the blink animation */
}

/* Other styles */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Adjust for the main container */
    width: 96vw;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: radial-gradient(white, transparent);
    position: relative;
    top: 70px;
    margin-top: 2%;
}

.flex-container {
    display: flex;
    gap: 10px;
    width: 95%;
}

.fresto-img {
    display: block;
    height: 100px;
    width: 350px;
    border-radius: 10px;
}

.sub-container {
    height: 88vh;
}

.sub-container-1 {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    animation: popUp 0.5s ease-out; /* Add this line */
}

.sub-container-2 {
    width: 30%;
    animation: popUp 0.5s ease-out; /* Add this line */
}

.services-img, .card-1, .card-11 {
    position: absolute;
    transition: transform 0.5s ease-in-out;
}

.services-img {
    height: 60px;
    width: 200px;
    border-radius: 10px;
}

.card-1, .card-11 {
    height: 140px;
    width: 300px;
    background-color: #BDC876;
    margin: 3px;
    border-radius: 10px;
    overflow: hidden; /* Ensure the video fits perfectly */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-11 {
    background-color: ;
}

.fruit-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the entire card */
    z-index: 1;
}

.special-heading {
    font-size: 18px;
    font-weight: bold;
    color: #FEFEFE; /* Milk white color */
    padding: 10px;
    text-align: center;
    text-shadow: 3px 1px 3px rgba(0, 0, 0, 0.3); /* Subtle shadow for brightness effect */
}

.card-11-heading {
    font-size: 18px;
    font-weight: bold;
    color: #FEFEFE; /* Milk white color */
    padding: 10px;
    text-align: center;
    text-shadow: 3px 1px 3px rgba(0, 0, 0, 0.3); /* Subtle shadow for brightness effect */
}

/* New styles for navigation section in sub-container-2 */
.nav-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nav-section h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #86c465;
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
    min-width: 100px;
    max-width: 250px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #85afdc;
    border: solid 1px rgba(0, 0, 0, 0.356);
}

.nav-button h4 {
    font-size: 20px;
    margin: 0;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-button p {
    font-size: 14px;
    margin: 5px 0 0;
}

.sb-v-1 {
    padding-top: 20px;
    justify-content: space-between;
}

.n-v-1 {
    padding-top: 20px;
    background-color: #08979D;
}

/* Media queries */
@media screen and (max-width: 1120px) {
    .sub-container-1 {
        width: 75%;
    }
    .sub-container-2 {
        width: 25%;
    }
    .card-11 {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .sub-container-1 {
        width: 70%;
    }
    .sub-container-2 {
        width: 30%;
    }
    .fresto-img {
        height: 80px;
        width: 280px;
    }
    .services-img, .card-1 {
        height: 60px;
        width: 150px;
    }
    .card-1 {
        height: 135px;
        width: 250px;
    }
    .buy-button {
        font-size: 12px;
    }
    #font-size-card {
        font-size: 17px;
    }
    #font-size-card-i {
        font-size: 15px;
    }
    .nav-button h4 {
        font-size: 15px;
        margin: 0;
    }
    .nav-button p {
        font-size: 15px;
        margin: 5px 0 0;
    }
}

@media screen and (max-width: 768px) {
    .home-container {
        height: 60vh; /* Adjust for small screens */
    }
    .card-11 {
        display: none;
    }
    .sub-container-2 {
        width: 50%;
        margin: 10px;
        justify-content: center;
        align-items: center;
    }
    #font-size-card {
        font-size: 14px;
    }
    .fresto-img {
        height: 70px;
        width: 200px;
    }
    .services-img, .card-1 {
        height: 100px;
        width: 120px;
    }
    .sub-container-1 {
        align-items: flex-start;
        width: 50%;
        min-width: 250px;
    }
    .sub-container-2 {
        width: 50%;
        margin-top: 10%;
        height: inherit;
    }
    .card-1 {
        height: 100px;
        width: 240px;
    }
    .nav-button h4 {
        font-size: 14px;
        margin: 0;
    }
    .nav-button p {
        font-size: 14px;
        margin: 5px 0 0;
    }
    .buy-button {
        padding: 7px 10px;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 8%;
    }
}

/* Media queries */
@media screen and (max-width: 480px) {
    .home-container {
        top: 90px;
    }
    .flex-container {
        display: flex;
        height: 90vh;
        flex-direction: column;
        align-items: center;
        overflow: scroll;
        gap: 10px; /* Ensuring 10px gap between sub-containers */
    }
    .sub-container {
        width: 100%;
        align-items: center;
        margin-bottom: 10px; /* Add some spacing between the containers */
    }
    .sub-container-1 {
        position: absolute;
        top: -130px;
        height: 400px;
        margin-top: 0; /* Ensuring no extra margin at the top */
        padding-top: 50px; /* Padding to move it below the navbar */
    }
    .sub-container-2 {
        margin-top: 0; /* Ensuring no extra margin at the top */
        /* display: none; */
        position: absolute;
        top: 650px;
    }
    .fresto-img {
        height: 60px;
        width: 120px;
    }
    .services-img, .card-1 {
        height: 80px;
        width: 120px;
    }
    .nav-button h4 {
        font-size: 12px;
        margin: 0;
    }
    .nav-button p {
        font-size: 12px;
        margin: 5px 0 0;
    }
    .card-1 {
        height: 80px;
        width: 180px;
    }
    .card-11 {
        display: none;
    }
}
