body, h1, p {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app{
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("https://res.cloudinary.com/dxx7ni6cl/image/upload/v1722517000/IMG_0017_wrurm6.png");
  background-size: cover;
}
.app {
  overflow: scroll; /* Enables scrolling */
  -ms-overflow-style: none;  /* Hides scrollbar for Internet Explorer and Edge */
  scrollbar-width: none;     /* Hides scrollbar for Firefox */
}

/* Hides scrollbar for Webkit-based browsers like Chrome, Safari, and Opera */
.app::-webkit-scrollbar {
  display: none;
}